header {
    background-color: #269dbb;
    margin: auto -16px; 
    padding: 16px 32px ;
    box-shadow : 0 0 10px 0 black;
    margin-bottom: 30px;

}

header h1 {
    color : white;
    font-family: 'McLaren', cursive; 
    font-weight: 200;
}

form {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background:  #269dbb;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }
footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 


}

.todo {
    text-align: center;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 500px;
    margin: 16px
}

.todo button {
  position: relative;
  margin-right: 5px;
  margin-bottom: 20px;
  float: right;
  color: #269dbb;
  box-shadow: 0 0 0 0 ;
  border: none;
  width: 60px;
  height: 0px;
  cursor: pointer;
}

footer p {
    color: #ccc
}